[Unit]
Description=Electrumx-GRS
After=network.target

[Service]
EnvironmentFile=/etc/electrumx-grs.conf
ExecStart=/usr/local/bin/electrumx_server.py
User=electrumx-grs
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
